.navbar{
  padding: 22.5px 15px;
}
.navbar-brand{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-transform: uppercase;
  line-height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  @media screen and (max-width: 767px){
    font-size: 18px;
  }
}
.navbar-brand-text{
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 8px;
  color: #E8E8E8;
  opacity: 0.8;
  margin-left: 10px;
  text-transform: none;
  @media screen and (max-width: 767px){
    display: none;
  }
}
.navbar-toggler{
  padding: 0;
  font-size: 34px;
}
#main_menu .navbar-nav{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}
[class*='btn-outline']{
  border-width: 1px;
}
@media screen and (min-width: 768px) {
  .navbar{
    padding: 22.5px 50px;
  }
}
@media screen and (min-width: 992px) {
  #main_menu .navbar-nav{
    flex-direction: row;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    .nav-item{
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
}
.layout-navbar-fixed{
  padding-top: 80px;
}

.hero-slider{
  .swiper-slide{
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 991px){
      background-image: none!important;
    }
    @media screen and (max-width: 575px){
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  &__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.5px;
    color: #212121;
    padding-bottom: 40px;
    @media screen and (max-width: 575px){
      font-size: 45px;
    }
  }
  &__description{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: #212121;
    padding-bottom: 40px;
  }
  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background: #0051ED;;
  }
}
.bg-light-blue{
  background-color: #EBF4F7;
}
.bg-dark-blue{
  background: #343B4A;
  color: #fff;
  .section-header{
    color: #fff;
  }
  .card{
    color: #212121;
  }
}
.section{
  padding-top: 72px;
  padding-bottom: 90px;
  p{
    margin-bottom: 27px;
  }
  &-header{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.5px;
    color: #212121;
    margin-bottom: 82px;
  }
}
.trener-image-wrap {
  text-align: right;
  margin-top: -85px;
  img{
    max-width: 100%;
  }
  @media screen and (max-width: 991px){
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.card{
  border-radius: 8px;
  .small{
    font-size: 11px;
  }
  .card-img-top{
    border-radius: 8px 8px 0 0;
  }
  &-body{
    padding: 20px;
  }
  &-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #212121;
    margin-top: 22px;
  }
  &-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #212121;
    margin-top: 19px;
    margin-bottom: 15px;
  }
  &-price{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: #212121;
    margin-top: 28px;
  }
  &-badge{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 30px;
    border-radius: 22px;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    &-blue{
      background: linear-gradient(90deg, #002874 0%, #0051ED 100%);
      color: #fff;
    }
    &-red{
      background: #FF3440;
      color: #fff;
    }
  }
}
#programs{
  .card{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  }
  .ui-rect-content{
    padding: 10px;
  }
  .card-text{
    font-size: 12px;
  }
}
#personal{
  .price{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 130%;
    letter-spacing: -0.25px;
  }
  .price-description{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    color: #757575;
    margin-bottom: 25px;
    max-width: 350px;
  }
  @media screen and (min-width: 1200px) {
    background-image: url('../img/image_77.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}
#blog{
  .card{
    box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .card-body{
    display: flex;
    flex-direction: column;
  }
  .category{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0051ED;
  }
  .title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #212121;
    margin-top: auto;
  }
  .date{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 140%;
    color: #757575;
  }
}
#contacts{
  background: #32353A;
  color: #fff;
  padding-bottom: 110px;
  position: relative;
  a:hover{
    text-decoration: underline;
  }
  .header{
    margin-top: 72px;
    margin-bottom: 72px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.5px;
    color: #FFFFFF;
  }
  .contact-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 140%;
    color: #9C9C9C;
  }
  .contact-phone{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
  }
  .contact-phone-info{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    color: #9C9C9C;
  }
  .contact-address, .contact-social a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 130%;
    color: #FFFFFF;
  }
  .contact-social a{
    display: inline-block;
    margin-right: 10px;
  }
  .contact-copyright, .contact-copyright a{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    color: #757575;
  }
  #contacts-map{
    width: 100%;
    height: 300px;
    @media screen and(min-width: 992px){
      position: absolute;
      height: auto;
      top: 0;
      bottom: 0;
      right: 0;
      width: 42%;
    }
  }
}
@media screen and (max-width: 575px){
  #personal .price{
    font-size: 75px;
  }
  #personal .price-description{
    max-width: 320px;
  }
  #contacts{
    .contact-phone{
      font-size: 35px;
    }
    .contact-address, .contact-social a{
      font-size: 21px;
    }
  }
}
.bottom-menu{
  position: fixed;
  bottom: 0;
  display: flex;
  height: 56px;
}
.custom-control-label:before{
  top: 0.25rem;
}
#book{
  .form-label, .custom-control-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #757575;
  }
  .result-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #757575;
    #date, #time, #price{
      color: #212121;
      font-weight: 500;
    }
  }
  .book-result{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
#calendar{
  display: flex;
  flex-wrap: wrap;
  .month{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #CBCBCB;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
    &.active, &:hover{
      color: #0051ED;
      text-decoration: none;
    }
  }
  .month-grid{
    width: 100%;
  }
  .days-grid{
    margin-top: 21px;
    width: 100%;
  }
  .days-row{
    display: flex;
    margin-right: -4px;
    margin-left: -4px;
  }
  .day-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 140%;
    color: #C2C2C2;
    margin-bottom: 3px;
  }
  .day-name, .day-col{
    width: 14.2857143%;
    box-sizing: border-box;
    text-align: center;
  }
  .day-col{
    margin: 0 4px 4px;
  }
  .day{
    position: relative;
    width: 100%;
    padding-top: 100%;
    display: block;
    border: 1px solid #EFEFEF;
    &:not(.disabled){
      cursor: pointer;
      &:hover{
        background: #0051ED;
        border: 1px solid #0051ED;
        border-radius: 4px;
        .day-status, .day-date{
          color: #fff;
        }
      }
    }
    &-content{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &-status{
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      line-height: 140%;
      color: #757575;
      display: none;
    }
    &-date{
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 140%;
      color: #757575;
      padding-top: 5px;
    }
    &-month{
      display: none;
      color: #BBBBBB;
    }
    &.disabled{
      background: #EFEFEF;
      border: 1px solid #EFEFEF;
    }
    &.active{
      background: #0051ED;
      border: 1px solid #0051ED;
      border-radius: 4px;
      .day-status, .day-date{
        color: #fff;
      }
    }
  }
  .time-grid{
    .form-label{
      line-height: 28px;
    }
  }
  .time-wrapper{
    width: 100%;
    display: block;
    margin-left: -15px;
    margin-right: -15px;
  }
  .time{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    mix-blend-mode: normal;
    border: 1px solid #EFEFEF;
    border-radius: 16px;
    width: 160px;
    margin: 9px 15px;
    height: 32px;
    padding: 6px 16px;
    display: inline-block;
    position: relative;
    .cancel{
      display: none;
    }
    &.disabled{
      background: #EFEFEF;
      border: 1px solid #EFEFEF;
    }
    &.active{
      background: #0051ED;
      border: 1px solid #0051ED;
      color: #fff;
      .cancel{
        display: block;
        position: absolute;
        top: 7px;
        right: 8px;
        width: 16px;
        height: 16px;
        line-height: 0;
      }
    }
    &:not(.disabled){
      cursor: pointer;
      &:hover{
        background: #0051ED;
        border: 1px solid #0051ED;
        color: #fff;
      }
    }
  }
}
@media screen and (min-width: 576px){
  #calendar{
    .day-col{
      margin: 0 8px 8px;
    }
    .days-row{
      margin-right: -8px;
      margin-left: -8px;
    }
    .day{
      &-status{
        font-size: 10px;
        display: block;
      }
      &-date{
        font-size: 16px;
      }
      &-month{
        display: inline;
      }
    }
  }
}
@media screen and (min-width: 768px){
  #calendar{
    .day-col{
      margin: 0 15px 15px;
    }
    .days-row{
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  #book{
    .result-text{
      margin-left: 30px;
    }
    .book-result{
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }
}
@media screen and (min-width: 992px){
  #calendar{
    .month-grid{
      width: 635px;
      margin-right: 30px;
    }
    .time-grid{
      width: 231px;
    }
    .time-wrapper{
      width: 100%;
      padding-top: 17px;
    }
  }
}
@media screen and (min-width: 1200px){
  #calendar{
    .month-grid{
      width: 635px;
      margin-right: 30px;
    }
    .day-name{
      margin-left: 15px;
      margin-right: 15px;
    }
    .days-row{
      margin-right: -15px;
      margin-left: -15px;
    }
    .day{
      &-content{
        padding: 10px 5px;
      }
    }
    .time-grid{
      width: 431px;
    }
  }
}
.radio-button{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.25px;
  display: inline-block;
  border: 1px solid #EFEFEF;
  border-radius: 16px;
  padding: 3px 16px;
  cursor: pointer;
  &:hover{
    background: #0051ED;
    border: 1px solid #0051ED;
    color: #fff;
  }
  &.active{
    background: #0051ED;
    border: 1px solid #0051ED;
    color: #fff;
  }
  &.disabled{
    background: #EFEFEF;
    border: 1px solid #EFEFEF;
    color: #757575;
  }
  &-wrapper{
    input:checked+.radio-button{
      background: #0051ED;
      border: 1px solid #0051ED;
      color: #fff;
    }
    input:disabled+.radio-button{
      background: #EFEFEF;
      border: 1px solid #EFEFEF;
      color: #757575;
    }
  }
}
input[type="radio"].hidden,input[type="checkbox"].hidden {
  display: inline;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1
}

.bottom-actions{
  position: fixed;
  bottom: 0;
  display: flex;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  background: #FFFFFF;
  height: 56px;
  width: 100%;
  align-items: center;
  &-item{
    display: block;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media screen and (min-width: 768px){
  .bottom-actions{
    display: none;
  }
}

h1{
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.5px;
  color: #212121;
}
@media screen and (max-width: 575px){
  h1{
    font-size: 30px;
  }
}
.breadcrumb{
  font-size: 14px;
}

.program-hero{
  width: 100%;
  min-height: 260px;
  background-size: cover;
  background-position: center;
  padding: 130px 16px 16px;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  display: flex;
  .breadcrumb-item, .breadcrumb-item a, h1{
    color: #fff;
  }
  .price{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
  }
  .program-info{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
  }
}